@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: OpenSans;
    box-sizing: border-box;
}


.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
   
}

.flex-wrap {
    flex-wrap:nowrap;
}

.header {
    color: #ffffff;
    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-width: 360px;
    min-height: 645px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
    margin: 0;
} 

 .header::before {
    content: "";
    min-width: 360px;
    min-height: 645px;
    background-color: #0c0c0c;
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    margin: 0 ;
 } 
 .header-row {
    display: flex;
    flex-direction: column;
    min-width: 330px;
    margin: 40 auto;
    
}

 .title {
    text-align: center;
    text-transform: uppercase;
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    align-items: center; 
    font-size: 14px;
 }

 .footer {
    margin: 0 auto;
    min-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    min-width: 330px;  
    
}
.block {
    display: flex; 
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 23px;
    border-bottom: 3px solid #e1d9bd;
}
.block:last-child { 
    border-bottom: none;
}
.block:first-child { 
    margin-top: 0;
}
.mt-content {
    margin-top: 40px;
}
.article-img {
    width: 100%;
    object-fit: cover;
    max-height: 350px;
    margin-bottom: 5px;
}
.article-content {
    display: block;
}

.item > .article-content {
    width: 80%;
}

.article-autor {
    font-weight: bold;
    margin-left: 10px;
    font-size: 12px;
}
.article-text{
    margin-top: 1px;
    font-size: 14px;
    margin-right: 8px;
}
.topic {
    display: flex; 
    flex-wrap: wrap;
    text-transform: uppercase;
    color:#b59f5b;
    font-size: 14px;
}

.aside {
    width: 100%;
    min-width: 330px;       

}
 
.copyright {
    display: flex;
    justify-content: center;
    color:#565454;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: bold;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
} 

.socials {
    background-color:#f4f7f6;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.social-icons {
    display: flex;
    margin: 12.5px;
}
.social-icon {
    box-sizing: border-box;
    display:block;
    margin: 12.5px;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.social-icon__pinterest {
    background-image: url("../svg/001-pinterest.svg");
}
.social-icon__tumblr {
    background-image: url("../svg/003-tumblr.svg");
}
.social-icon__twitter {
    background-image: url("../svg/004-twitter.svg");
}
.social-icon__instagram {
    background-image: url("../svg/005-instagram.svg");
}
.social-icon__facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}


.button {
    background-color: #b59f5b; 
    cursor: pointer;
    color:#ffffff;
    text-transform: uppercase;
}

.search-img {
    height: 50px;
    width: 50px;
    padding: 15px;
}

.form {
    display: inline-flex;
    align-items: start;
    min-width: 330px;
    width: 100%;
    margin-top: 13px;
}

.popup .form {
    min-width: fit-content;
}

.field {
    min-width: 280px;
    width: 100%;
    padding: 15px;
    background-color: #f4f7f6;
    border: none;
}
.submit {
    min-width: 330px;
    width: 100%;
    height: 50px;
    border: none;
    margin-bottom: 20px;
}

/* pop-up */
.select {
    width: 100%;
    padding: 15px;
    background-color: #dee0df;
    border: none;
}

/* pop-up */
.send {
    width: 100%;
    height: 50px;
    border: none;
    margin-bottom: 20px;
}

/* pop-up */
.popup-text {
    font-size: 13px;
    padding-left: 3px;
    margin-top: 18px;
}

textarea.popup-text {
    padding-left: 15px;
}

/* pop-up */
.radio {
    padding-right: 50px;
}

/* pop-up */
.popup-radio {
    display:flex;
    justify-content: flex-start;
    margin: 10px 20px 15px 3px;
}


.subject-count {
    color:#b59f5b;
}
.subject {
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid #2b2b2c50;
}
.subjects {
    padding: 0;
}
.tag {
    border: solid  3px #ededed;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-width: 2px;
    margin:0 5px 7px 0;
    font-size: 12px;
    padding: 5px 13px;
}
.tags {
    display: flex;
    flex-wrap: wrap; 
    padding: 0;
}
.item {
    display: flex;
    padding-top: 15px;
    padding-bottom: 3px;
}
.item:last-child {
    padding-bottom: 55px;
}
.nav-item {
    margin-top: 30px;
}
.nav-img {
    min-width: 70px; 
    min-height: 70px;
    width: 20%;
    margin-right: 17px;
    margin-bottom: 1px;
}
ul {
    list-style-type: none;
}
.nav-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
}
.nav-link {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
}


time {
    font-size: 12px;
    color: #7e7e7e;
}

.item > .article-content > time {
    display: flex;
    text-align: start;
    align-items: start;
}

h6.nav-link {
    margin-top: 2px;
    margin-bottom: 0;
}


.blocks {
    display: block;
    margin: 0;
    padding: 0;
}


.popup_bg {
    background-color: rgb(12,12,12, 0.6);
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    visibility: hidden; 
}


.popup {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: calc(50% - 160px);
    right: calc(50% - 160px);
    height: 545px;
    z-index: 100;
    padding: 25px 20px 30px;    
}


h2::after, .nav-title > h4::after {
    content: "";
    display: block;
    background-color:#e1d9bd;
    border: none;
    width: 65px;
    height: 3px;
    margin: 10px auto;
    position: relative;
} 

/*
body::after {
    content: "";
    display: block;
    width: 360px;
    height: 640px;
    background-image: url("../psd/NOEMI_mq_mobile_popup.jpg");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 999;
} 

/*
body::after {
    content: "";
    display: block;
    width: 360px;
    height: 7500px;
    background-image: url("../psd/NOEMI_mq_mobile.jpg");
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 999;
} */

.trend {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 30px;
}

@media screen and (orientation:portrait) {
    

    .trend-items {
        display: flex;
        flex-direction: column;
        min-width: 360px;
        margin-top: 15px;
    }
    
    .trend-item {
        display: flex;
        width: 100%;
        max-height: 230px;
        position: relative;
        z-index: 2;
        margin-bottom: 5px;
    }

    .trend-content {
        position:absolute;
        text-align:left;
        z-index: 1;
        border: 3px solid #e1d9bd;
        bottom: 10px;
        left: 15px;
        right: 25px;
        padding: 28px 5px 25px 35px;
    }


    h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
    }

    .trend-content h3 {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #ffffff;
        margin-bottom: 1.2rem;
        margin-right: 0.5rem;
    }
}

@media screen and (orientation:landscape) {
    
    .trend-items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    
    .trend-item {
        display: flex;
        width: calc(50% - 2px);
        max-height: 250px;
        position: relative;
        z-index: 2;
        margin-bottom: 4px;
    }
    
    .trend-item:nth-child(2n+1) {
        margin-right: 4px;
    }

    .trend-content {
        position:absolute;
        text-align:left;
        z-index: 1;
        border: 3px solid #e1d9bd;
        bottom: 2vw;
        left: 3vw;
        right: 5vw;
        padding: 3vw 1vw 1vw 2vw;
    }


    h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 3vw;
    }

    .trend-content h3 {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 3vw;
        color: #ffffff;
        margin-bottom: 3vw;
    }
}


.shop {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 53px;
}


.shop-preises {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.shop-link {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 25px
}

.shop-preis {
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
}

.preis-old {
    text-decoration: line-through;
    font-size: 12px;
}

.preis-new {
    font-size: 20px;
}


.shop-items {
    display: flex;
    flex-direction: column;
    min-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 15px auto 0;
    align-self: flex-start;
}

.shop-item {
    display: flex;
    flex-direction: column;
    padding-right: 3px;
    width: 100%;
    position: relative;
    z-index: 2;
}


.shop-img {
    width: 84%;
    margin-left: 8%;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 285px;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
}

.shop-content {
    margin: -30px 0 20px;
    padding: 50px 15px 30px;
    box-sizing: border-box;
    border: 3px solid #e1d9bd;
}

.shop-text {
    font-size: 14px;
    text-transform: none;
    margin-top: -15px;
    margin-right: 15px;
}

.shop-text > a {
    text-decoration: none;
    color: #b59f5b
}

.shop-content h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 30px;
}


.trend-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    margin: 0;
 } 

.trend-item:last-child {
    padding-right: 0;
}

.trend-img {
    width: 100%;
    object-fit: cover;
    max-height: fit-content;
}

/* h2 */

.trend > h2, .shop > h2, .popup > h2 {
    font-size: 16px;
    margin: 0 auto;
    text-transform: uppercase;
} 

br {
    display: flex;
}

/* h4 */

.topic > h4 {
    margin-right: 20px;
}
.nav-title > h4 {
    margin-right: 0px;
}

/* h3 */

.article-content h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
    margin: 3px 0 20px;
}
.logo {
    box-sizing: border-box;
    width: 270px;
    margin-top: 220px;
    margin-bottom: 30px;
}

.header-row > a {
    margin: auto;
}

 .menu {
    text-transform: uppercase;
    margin: 40px 0;
    font-size: 12px;
    display: none;
 }
 .menu-item { 
    display: inline-block; 
    margin-left: 30px;
 } 
 .menu-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
 }